.navbar-default{
  background : #3ece9294;
}
footer .light-bg{
  background:#040404c7;
  color: #efefef;
}
footer .dark-bg{
  background: #000000db;
  color: white;
  padding: 15px;
}
footer .footer-section{
  padding: 20px;
}
.footer-section p{
  padding: 0px;
  margin: 0px;
}